# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# Editor Files
*.db*
*.ipch
*.vsidx
*.json
*.suo
*.tlog
*.ilk
*.log
*.ini
*.pdb
*.idb
*.recipe
*.enc
*.opendb
*.iobj
*.ipdb

examples/win32/ImRichTe.*/
/examples/win32/imrichtext_demo/.vs/imrichtext_demo/copilot-chat
